{% extends "SioSemiBundle::layout.html.twig" %}
{% block content %}

 
<div class="box inscription">
<fieldset class="boxBody"> 
<legend>Vos informations personnelles</legend>

{{ form(formulaire) }}

</fieldset>

</div>
{% endblock %}