{% extends "SioSemiBundle::layout.html.twig" %}
{% block content %}

<div class="box inscription">
<h3>Séminaire : « Les Journées du management 2013»</h3>
   <p>La prise en compte du temps dans les décisions des organisations (CNAM Paris)</p>
  <p><b>Les inscriptions sont désormais closes.</b></p> 
Il vous sera possible d'accéder aux ateliers pour lesquels il y a encore des places disponibles. 
<p>Merci d’adresser votre demande par courriel à <a href="mailto:journeesdumanagement2013@gmail.com?Subject=inscription" target="_top">journeesdumanagement2013@gmail.com
</a> (en précisant chacun des ateliers auquel vous souhaitez participer.</p> 

<p>Nous vous remercions de votre compréhension.</p>
<p>Téléchargez ici : <a href="{{asset('programme2013.pdf')}}"> Le programme du séminaire</a></p>
</div>

{% endblock %}